In [ ]:
# Data Science Tools and Ecosyste

In this notebook, Data science Tools and Ecosystem are sumerized

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R- programme 
4. C++
5. C

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
| -------------|
| Data Management Tools  |
| Data Integration and Transformation Tools |
| Data Visualization Tools|
| Model deployment Tools |
| Code Asset Management Tools |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers

17

In [10]:
200/60

# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives**
- List popular languages for Data Science
- List of Data Science Tools
- Popular Libraries in Data Science

## Author
Karthik Hegde